{
  "extends": "airbnb",
  "rules": {
    "array-bracket-spacing": [
      "error",
      "always"
    ],
    "arrow-parens": [
      "error",
      "as-needed",
      {
        "requireForBlockBody": false
      }
    ],
    "computed-property-spacing": [
      "error",
      "always"
    ],
    "func-names": [
      "warn",
      "never"
    ],
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "linebreak-style": "off",
    "no-await-in-loop": "off",
    "no-loop-func": "off",
    "no-restricted-syntax": "off",
    "no-shadow": "off",
    "no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "(res|next)"
      }
    ],
    "object-curly-newline": [
      "error",
      {
        "consistent": true
      }
    ],
    "react/jsx-filename-extension": "off",
    "require-jsdoc": "warn",
    "semi": [
      "error",
      "never"
    ],
    "semi-style": [
      "error",
      "first"
    ],
    "space-in-parens": [
      "error",
      "always"
    ]
  }
}